* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(18, 106, 136);
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 800px;
  margin: 0 auto;
}

.cell {
  width: calc(100% / 10);
  aspect-ratio: 1 / 1;
  background-color: lightblue;
  border: 1px solid white;
}